In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/healthcare-insurance/insurance.csv

In [2]:
df = pd.read_csv('/kaggle/input/healthcare-insurance/insurance.csv')

In [3]:
df.sample(5)

     age     sex     bmi  children smoker     region      charges
759   18    male  38.170         0    yes  southeast  36307.79830
219   24  female  23.210         0     no  southeast  25081.76784
228   41  female  31.635         1     no  northeast   7358.17565
888   22    male  39.500         0     no  southwest   1682.59700
821   26    male  17.670         0     no  northwest   2680.94930

In [4]:
df_feat = df.copy()

In [5]:
def age_grp(age):
    if age < 23:
        return "young"
    elif age < 45:
        return "adult"
    elif age < 60:
        return "middle_aged"
    return "senior"

In [6]:
df_feat["age_group"] = df_feat["age"].apply(age_grp)

In [7]:
def lifestyle_risk(row):
    if row["smoker"] and row["bmi"] > 30:
        return "high"
    elif row["smoker"] or row["bmi"] > 25:
        return "medium"
    else : "low"

In [8]:
df_feat["lifestyle_risk"] = df_feat.apply(lifestyle_risk, axis=1)

In [9]:
df_feat.sample(5)

,age,sex,bmi,children,smoker,region,charges,age_group,lifestyle_risk
1294,58,male,25.175,0,no,northeast,11931.12525,middle_aged,medium
312,43,male,35.970,3,yes,southeast,42124.51530,adult,high
253,27,male,30.300,3,no,southwest,4260.74400,adult,high
345,34,female,29.260,3,no,southeast,6184.29940,adult,medium
62,64,male,24.700,1,no,northwest,30166.61817,senior,medium